.Ads2Container {
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UnSelectedItem {
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
.UnSelectedItem:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.SelectedItem {
  transition: 0.3s;
  width: calc(100% - 40px);
  background-color: rgba(216, 250, 251, 0.644) !important;
  cursor: pointer;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border: none !important;
}

/* check box */
.Ads2Checkbox {
  transition: 0.3s;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.optionInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.optionInput:hover {
  background: #9faab7;
}
.optionInput:checked {
  background: #40e0d0;
}
.optionInput:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.optionInput:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.optionInput.radio {
  border-radius: 50%;
}
.optionInput.radio::after {
  border-radius: 50%;
}
