// Colors
$bg-body: #f6f6f6;
$light: #e0e0ec;
$regular: #575a7a;
$dark: #282b31;
$system: #00bcd4;
$grey: #a6adb1;
$success: #50d86a;
$success-light: #deffe5;
$primary: #1750ff;
$primary-light: #DEE6FF;
$logo: #00bcd4;
$warning: #ffa10b;
$warning-light: #FFF6DE;
$danger: #e24444;
$danger-light: #ffcece;
$gold: #463e2b;

// Fonts
$ir-r: iransans-regular;
$ir-b: iransans-bold;
$ir-bl: iransans-black;

// Font Sizes
$fs-s: 0.9em;
$fs-m: 1em;
$fs-l: 1.2em;

// Shadows
$navbar-shadow: 5px 5px 15px #00000005;
